<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @test_object.value %>
</p>

<%= link_to 'Edit', edit_test_object_path(@test_object) %> |
<%= link_to 'Back', test_objects_path %>
